.details{
	width: 1050px;
	margin-left: 215px;
	overflow: hidden;
}
.details_img{
	float: left;
	width: 415px;
	height: 415px;
}
.details_content{
	width: 500px;
	float: left;
	text-align: left;
	margin-top: 20px;
	margin-left: 50px;
}
.details_content h1{
	font-size: 30px;
	font-weight: 500;
}
.details_content p[a2]{
	line-height: 30px;
}
.details_content p[a1]{
	color: red;
}
.details_content hr{
	width: 500px;
	margin-top: 20px;
}